ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*
*
* Links
*/

a, a:focus, a:active, a:hover {
	text-decoration: none;
}

/*
*
* RD Navbar
*/
@keyframes rd-navbar-slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes rd-navbar-slide-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

.rd-navbar-wrap, .rd-navbar,
.rd-menu,
.rd-navbar-nav,
.rd-navbar-panel, .rd-navbar-static .rd-menu, .rd-navbar-fixed .rd-navbar-nav-wrap, .rd-navbar-fixed .rd-navbar-submenu {
	transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-navbar--no-transition, .rd-navbar--no-transition * {
	transition: none !important;
}

.rd-navbar,
.rd-navbar.rd-navbar--is-clone {
	display: none;
}

.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone,
.rd-navbar.rd-navbar-sidebar + .rd-navbar.rd-navbar--is-clone {
	display: none;
}

.rd-navbar {
	display: none;
	background: #fff;
}

.rd-navbar-outer {
	position: relative;
	z-index: 1080;
}

.rd-nav-link {
	font: 400 15px/22px "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	letter-spacing: .08em;
	text-transform: uppercase;
	font-weight: 500;
}

.rd-navbar-toggle {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #343a40;
	background-color: transparent;
	border: none;
	display: none;
}

.rd-navbar-toggle span {
	position: relative;
	display: block;
	margin: auto;
	transition: .3s all ease;
}

.rd-navbar-toggle span::after, .rd-navbar-toggle span::before {
	content: "";
	position: absolute;
	left: 0;
	top: -6px;
	transition: .3s all ease;
}

.rd-navbar-toggle span::after {
	top: 6px;
}

.rd-navbar-toggle span::after, .rd-navbar-toggle span::before, .rd-navbar-toggle span {
	width: 24px;
	height: 2px;
	background-color: #343a40;
	backface-visibility: hidden;
	border-radius: 5;
}

.rd-navbar-toggle.active span {
	background: transparent;
	transition: .01s;
}

.rd-navbar-toggle.active span::before, .rd-navbar-toggle.active span::after {
	transform-origin: 50% 50%;
	top: 0;
}

.rd-navbar-toggle.active span::before {
	transform: rotate(45deg);
}

.rd-navbar-toggle.active span::after {
	transform: rotate(-45deg);
}

.rd-navbar-collapse-toggle {
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #343a40;
	display: none;
}

.rd-navbar-collapse-toggle::-moz-focus-inner {
	border: none;
	padding: 0;
}

.rd-navbar-collapse-toggle span {
	top: 50%;
	margin-top: -2.5px;
}

.rd-navbar-collapse-toggle span, .rd-navbar-collapse-toggle span::before, .rd-navbar-collapse-toggle span::after {
	position: absolute;
	width: 5px;
	height: 5px;
	line-height: 5px;
	text-align: center;
	background: #343a40;
	left: 50%;
	margin-left: -2.5px;
	border-radius: 50%;
	transition: .3s all ease;
}

.rd-navbar-collapse-toggle span::before, .rd-navbar-collapse-toggle span::after {
	content: '';
}

.rd-navbar-collapse-toggle span::before {
	bottom: 100%;
	margin-bottom: 2.5px;
}

.rd-navbar-collapse-toggle span::after {
	top: 100%;
	margin-top: 2.5px;
}

.rd-navbar-collapse-toggle.active span {
	transform: scale(0.7);
}

.rd-navbar-collapse-toggle.active span::before {
	transform: translateY(15px);
}

.rd-navbar-collapse-toggle.active span::after {
	transform: translateY(-15px);
}

.rd-navbar-brand a {
	display: block;
}

.rd-navbar-search {
	position: relative;
	display: inline-flex;
}

.rd-navbar-search .form-input {
	padding-right: 50px;
}

.rd-navbar-search .rd-search-form-submit {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 20px;
	color: #aeb1be;
	transition: .33s;
}

.rd-navbar-search .rd-search-form-submit:hover {
	color: #65cef5 ;
}

.rd-navbar-search .rd-search-results-live {
	pointer-events: none;
}

.rd-navbar-search .rd-search-results-live > * {
	pointer-events: auto;
}

.rd-navbar-search-toggle {
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

.rd-navbar-search-toggle::-moz-focus-inner {
	border: none;
	padding: 0;
}

.rd-navbar-dropdown {
	display: none;
}

.rd-navbar-popup {
	position: absolute;
	padding: 15px 25px 20px 20px;
	width: calc(100vw - 10px);
	border-radius: 6px;
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	overflow: hidden;
	background-color: #343a40;
}

.rd-navbar-popup::before {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	transform: scale3d(1, 0.1, 1);
	transform-origin: 50% 0;
	background: #343a40;
	border-radius: inherit;
	transition: .5s;
}

.rd-navbar-popup > * {
	position: relative;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform-origin: 50% 0;
	transform: scale3d(1, 0.9, 1);
}

.rd-navbar-popup.active {
	opacity: 1;
	visibility: visible;
}

.rd-navbar-popup.active > * {
	opacity: 1;
	visibility: visible;
	transform: scale3d(1, 1, 1);
}

.rd-navbar-popup.active::before {
	transform: scale3d(1, 1, 1);
}

@media (min-width: 400px) {
	.rd-navbar-popup {
		width: 370px;
	}
}

@media (min-width: 768px) {
	.rd-navbar-popup {
		padding: 40px;
	}
}

.context-dark .rd-navbar-toggle, .bg-gray-700 .rd-navbar-toggle, .bg-gray-800 .rd-navbar-toggle, .bg-primary .rd-navbar-toggle, .bg-primary-darker .rd-navbar-toggle {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
	display: none;
}

.context-dark .rd-navbar-toggle span, .bg-gray-700 .rd-navbar-toggle span, .bg-gray-800 .rd-navbar-toggle span, .bg-primary .rd-navbar-toggle span, .bg-primary-darker .rd-navbar-toggle span {
	position: relative;
	display: block;
	margin: auto;
	transition: .3s all ease;
}

.context-dark .rd-navbar-toggle span::after, .bg-gray-700 .rd-navbar-toggle span::after, .bg-gray-800 .rd-navbar-toggle span::after, .bg-primary .rd-navbar-toggle span::after, .bg-primary-darker .rd-navbar-toggle span::after, .context-dark .rd-navbar-toggle span::before, .bg-gray-700 .rd-navbar-toggle span::before, .bg-gray-800 .rd-navbar-toggle span::before, .bg-primary .rd-navbar-toggle span::before, .bg-primary-darker .rd-navbar-toggle span::before {
	content: "";
	position: absolute;
	left: 0;
	top: -6px;
	transition: .3s all ease;
}

.context-dark .rd-navbar-toggle span::after, .bg-gray-700 .rd-navbar-toggle span::after, .bg-gray-800 .rd-navbar-toggle span::after, .bg-primary .rd-navbar-toggle span::after, .bg-primary-darker .rd-navbar-toggle span::after {
	top: 6px;
}

.context-dark .rd-navbar-toggle span::after, .bg-gray-700 .rd-navbar-toggle span::after, .bg-gray-800 .rd-navbar-toggle span::after, .bg-primary .rd-navbar-toggle span::after, .bg-primary-darker .rd-navbar-toggle span::after, .context-dark .rd-navbar-toggle span::before, .bg-gray-700 .rd-navbar-toggle span::before, .bg-gray-800 .rd-navbar-toggle span::before, .bg-primary .rd-navbar-toggle span::before, .bg-primary-darker .rd-navbar-toggle span::before, .context-dark .rd-navbar-toggle span, .bg-gray-700 .rd-navbar-toggle span, .bg-gray-800 .rd-navbar-toggle span, .bg-primary .rd-navbar-toggle span, .bg-primary-darker .rd-navbar-toggle span {
	width: 24px;
	height: 2px;
	background-color: #fff;
	backface-visibility: hidden;
	border-radius: 5;
}

.context-dark .rd-navbar-toggle.active span, .bg-gray-700 .rd-navbar-toggle.active span, .bg-gray-800 .rd-navbar-toggle.active span, .bg-primary .rd-navbar-toggle.active span, .bg-primary-darker .rd-navbar-toggle.active span {
	background: transparent;
	transition: .01s;
}

.context-dark .rd-navbar-toggle.active span::before, .bg-gray-700 .rd-navbar-toggle.active span::before, .bg-gray-800 .rd-navbar-toggle.active span::before, .bg-primary .rd-navbar-toggle.active span::before, .bg-primary-darker .rd-navbar-toggle.active span::before, .context-dark .rd-navbar-toggle.active span::after, .bg-gray-700 .rd-navbar-toggle.active span::after, .bg-gray-800 .rd-navbar-toggle.active span::after, .bg-primary .rd-navbar-toggle.active span::after, .bg-primary-darker .rd-navbar-toggle.active span::after {
	transform-origin: 50% 50%;
	top: 0;
}

.context-dark .rd-navbar-toggle.active span::before, .bg-gray-700 .rd-navbar-toggle.active span::before, .bg-gray-800 .rd-navbar-toggle.active span::before, .bg-primary .rd-navbar-toggle.active span::before, .bg-primary-darker .rd-navbar-toggle.active span::before {
	transform: rotate(45deg);
}

.context-dark .rd-navbar-toggle.active span::after, .bg-gray-700 .rd-navbar-toggle.active span::after, .bg-gray-800 .rd-navbar-toggle.active span::after, .bg-primary .rd-navbar-toggle.active span::after, .bg-primary-darker .rd-navbar-toggle.active span::after {
	transform: rotate(-45deg);
}

.rd-navbar-call {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 37px;
	height: 37px;
	background-color: #65cef5 ;
	border-radius: 50%;
	transition: 0.35s ease-in;
	position: fixed;
	z-index: 1080;
	right: 20px;
	top: 10px;
}

@media (min-width: 992px) {
	.rd-navbar-call {
		position: static;
	}
}

.rd-navbar-call:hover {
	background-color: #65cef5 ;
	transform: scale(1.15);
}

.rd-navbar-call:hover button {
	color: #e1eafd;
	cursor: pointer;
}

.rd-navbar-call button {
	background: transparent;
	box-shadow: none;
	border: none;
	color: #fff;
	font-size: 20px;
	transition: 0.25s ease-in;
}

.rd-navbar-nav-wrap + .rd-navbar-call {
	margin-left: 40px;
}

/*
* @subsection  RD Navbar Static
*/
.rd-navbar-static {
	display: block;
}

.rd-navbar-static .rd-nav-item {
	display: inline-block;
}

.rd-navbar-static .rd-nav-item.focus .rd-nav-link, .rd-navbar-static .rd-nav-item.opened .rd-nav-link {
	color: #65cef5 ;
	background: transparent;
}

.rd-navbar-static .rd-nav-item.focus > .rd-navbar-submenu-toggle, .rd-navbar-static .rd-nav-item.opened > .rd-navbar-submenu-toggle {
	color: #65cef5 ;
}

.rd-navbar-static .rd-nav-item.active .rd-nav-link {
	color: #65cef5 ;
	background: transparent;
}

.rd-navbar-static .rd-nav-item.active > .rd-navbar-submenu-toggle {
	color: #65cef5 ;
}

.rd-navbar-static .rd-nav-item.focus > .rd-navbar-submenu-toggle::before,
.rd-navbar-static .rd-nav-item.opened > .rd-navbar-submenu-toggle::before,
.rd-navbar-static .rd-nav-item .rd-nav-link:hover + .rd-navbar-submenu-toggle::before {
	transform: rotate(180deg);
}

.rd-navbar-static .rd-nav-item > .rd-navbar-submenu-toggle {
	margin-left: 4px;
	font-family: "Material Design Icons";
	font-size: 16px;
	cursor: pointer;
}

.rd-navbar-static .rd-nav-item > .rd-navbar-submenu-toggle::before {
	position: relative;
	display: inline-block;
	transition: .22s;
	content: '\f236';
}

.rd-navbar-static .rd-nav-item > .rd-navbar-submenu-toggle:hover {
	color: #65cef5 ;
}

.rd-navbar-static .rd-nav-item > .rd-navbar-submenu {
	margin-top: 20px;
}

.rd-navbar-static .rd-nav-item + .rd-nav-item {
	margin-left: 35px;
}

.rd-navbar-static .rd-nav-link {
	position: relative;
	display: inline-block;
	color: #343a40;
	transition: .25s;
}

.rd-navbar-static .rd-nav-link:hover {
	color: #65cef5 ;
}

.rd-navbar-static .rd-menu {
	position: absolute;
	z-index: 15;
	display: block;
	padding: 16px 27px;
	margin-top: 22px;
	margin-left: -27px;
	visibility: hidden;
	opacity: 0;
	text-align: left;
	box-shadow: 0 5px 10px 1px rgba(29, 33, 36, 0.3);
	border-radius: 6px;
	transform: translate3d(0, 30px, 0);
}

.rd-navbar-static .rd-dropdown-item + .rd-dropdown-item,
.rd-navbar-static .rd-megamenu-list-item + .rd-megamenu-list-item {
	margin-top: 7px;
}

.rd-navbar-static .rd-navbar-dropdown {
	position: absolute;
	left: 0;
	width: 290px;
	background: #343a40;
	z-index: 5;
}

.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown {
	top: -1px;
	left: 100%;
	z-index: 2;
	margin-top: -15px;
	margin-left: 15px;
	transform: translate3d(30px, 0, 0);
}

.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown.rd-navbar-open-left {
	left: auto;
	right: 100%;
	margin-left: 0;
	margin-right: 15px;
	transform: translate3d(-30px, 0, 0);
}

.rd-navbar-static .rd-dropdown-item.focus .rd-dropdown-link, .rd-navbar-static .rd-dropdown-item.opened .rd-dropdown-link {
	color: #fff;
}

.rd-navbar-static .rd-dropdown-link {
	color: #aeb1be;
}

.rd-navbar-static .rd-dropdown-link:hover {
	color: #fff;
}

.rd-navbar-static .rd-navbar-dropdown li > a,
.rd-navbar-static .rd-megamenu-list li > a {
	position: relative;
	left: -13px;
	display: flex;
	padding: 4px 18px 4px 0;
	text-align: left;
}

.rd-navbar-static .rd-navbar-dropdown li > a, .rd-navbar-static .rd-navbar-dropdown li > a:focus, .rd-navbar-static .rd-navbar-dropdown li > a:active,
.rd-navbar-static .rd-megamenu-list li > a,
.rd-navbar-static .rd-megamenu-list li > a:focus,
.rd-navbar-static .rd-megamenu-list li > a:active {
	color: #aeb1be;
}

.rd-navbar-static .rd-navbar-dropdown li > a:hover,
.rd-navbar-static .rd-megamenu-list li > a:hover {
	color: #fff;
}

.rd-navbar-static .rd-navbar-dropdown li > a, .rd-navbar-static .rd-navbar-dropdown li > a::before,
.rd-navbar-static .rd-megamenu-list li > a,
.rd-navbar-static .rd-megamenu-list li > a::before {
	transition: all .2s ease-in-out;
}

.rd-navbar-static .rd-navbar-dropdown li > a::before,
.rd-navbar-static .rd-megamenu-list li > a::before {
	position: relative;
	top: -1px;
	left: -6px;
	display: inline-block;
	content: '\f238';
	font-family: 'Material Design Icons';
	font-size: inherit;
	line-height: inherit;
	color: #fff;
	opacity: 0;
	visibility: hidden;
}

.rd-navbar-static .rd-navbar-dropdown li.focus > a,
.rd-navbar-static .rd-navbar-dropdown li.opened > a,
.rd-navbar-static .rd-navbar-dropdown li > a:hover,
.rd-navbar-static .rd-megamenu-list li.focus > a,
.rd-navbar-static .rd-megamenu-list li.opened > a,
.rd-navbar-static .rd-megamenu-list li > a:hover {
	left: -13px;
	padding-left: 18px;
	padding-right: 0;
}

.rd-navbar-static .rd-navbar-dropdown li.focus > a::before,
.rd-navbar-static .rd-navbar-dropdown li.opened > a::before,
.rd-navbar-static .rd-navbar-dropdown li > a:hover::before,
.rd-navbar-static .rd-megamenu-list li.focus > a::before,
.rd-navbar-static .rd-megamenu-list li.opened > a::before,
.rd-navbar-static .rd-megamenu-list li > a:hover::before {
	left: -7px;
	opacity: 1;
	visibility: visible;
}

.rd-navbar-static .rd-navbar-megamenu {
	display: flex;
	left: 0;
	width: 100%;
	overflow: hidden;
	max-width: 1200px;
	background: #343a40;
}

.rd-navbar-static .rd-megamenu-item {
	flex-basis: 50%;
	flex-grow: 1;
}

.rd-navbar-static .rd-megamenu-item + .rd-megamenu-item {
	padding-left: 20px;
}

.rd-navbar-static .rd-megamenu-item {
	display: flex;
}

.rd-navbar-static .rd-megamenu-item .banner {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	min-width: 100%;
	padding: 35px;
}

.rd-navbar-static .rd-megamenu-item .banner::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
}

.rd-navbar-static .rd-megamenu-item .banner .button-primary:hover {
	background: #417ffc;
	border-color: #417ffc;
}

.rd-navbar-static .rd-megamenu-item .banner > * {
	opacity: 0;
	visibility: hidden;
	transform: translate(0, -20%);
	transition: .22s;
}

.rd-navbar-static .rd-megamenu-item .banner:hover > * {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
}

.rd-navbar-static .rd-megamenu-item:first-child .banner, .rd-navbar-static .rd-megamenu-item:last-child .banner {
	margin-top: -16px;
	margin-right: -27px;
	margin-bottom: -16px;
	margin-left: -27px;
}

.rd-navbar-static .rd-megamenu-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e9ee;
}

.rd-navbar-static .rd-megamenu-list-link {
	color: #aeb1be;
	background: transparent;
}

.rd-navbar-static .rd-megamenu-list-link:hover {
	color: #fff;
	background: transparent;
}

.rd-navbar-static * + .rd-megamenu-list {
	margin-top: 10px;
}

.rd-navbar-static .rd-navbar-submenu.focus > .rd-menu, .rd-navbar-static .rd-navbar-submenu.opened > .rd-menu {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0, 0, 0);
}

.rd-navbar-static .rd-navbar-search.active .rd-search {
	visibility: visible;
	opacity: 1;
}

.rd-navbar-static .rd-navbar-search.active .not-empty ~ .form-input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.rd-navbar-static .rd-navbar-search .rd-search {
	margin-top: 40px;
}

.rd-navbar-static .rd-navbar-search .form-input {
	padding-right: 19px;
}

.rd-navbar-static .rd-navbar-search .rd-search-form-submit {
	display: none;
}

.rd-navbar-static .rd-search {
	position: absolute;
	top: 100%;
	right: 0;
	width: 370px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	margin-top: 20px;
	z-index: 2;
}

.rd-navbar-static * + .rd-navbar-search {
	margin-left: 38px;
}

.rd-navbar-static .rd-navbar-search-toggle {
	display: inline-flex;
	color: #343a40;
}

.rd-navbar-static .rd-navbar-search-toggle span {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

.rd-navbar-static .rd-navbar-search-toggle span, .rd-navbar-static .rd-navbar-search-toggle span::before, .rd-navbar-static .rd-navbar-search-toggle span::after {
	transition: .3s all ease-in-out;
}

.rd-navbar-static .rd-navbar-search-toggle span::before, .rd-navbar-static .rd-navbar-search-toggle span::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.rd-navbar-static .rd-navbar-search-toggle span::before {
	content: "";
	transform: rotate(0deg) scale(1);
	opacity: 1;
	visibility: visible;
	font-family: "Material Design Icons";
}

.rd-navbar-static .rd-navbar-search-toggle span::after {
	content: "";
	transform: rotate(-90deg) scale(0.4);
	opacity: 0;
	visibility: hidden;
	font-family: "Material Design Icons";
}

.rd-navbar-static .rd-navbar-search-toggle.active span::before {
	opacity: 0;
	visibility: hidden;
	transform: rotate(90deg) scale(0.4);
}

.rd-navbar-static .rd-navbar-search-toggle.active span::after {
	transform: rotate(0deg) scale(1);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-static .rd-navbar-search-toggle:hover {
	color: #65cef5 ;
}

@media (min-width: 1200px) {
	.rd-navbar-static .rd-nav-item + .rd-nav-item {
		margin-left: 45px;
	}
}

.rd-navbar-static.rd-navbar--is-clone {
	display: block;
	transform: translate3d(0, -100%, 0);
}

.rd-navbar-static.rd-navbar--is-clone.rd-navbar--is-stuck {
	transform: translate3d(0, 0, 0);
}

.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-static.rd-navbar--is-clone {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1080;
	background: #fff;
	will-change: transform;
}

.rd-navbar-static .rd-navbar--has-dropdown {
	position: relative;
}

/*
*
* RD Navbar Fixed
*/
.rd-navbar-fixed {
	display: block;
	width: 100%;
}

.rd-navbar-fixed .rd-navbar-toggle {
	display: inline-block;
}

.rd-navbar-fixed .rd-navbar-brand {
	position: relative;
	top: 0;
	margin-left: 6px;
	font-size: 0;
	line-height: 0;
	text-align: left;
}

.ios .rd-navbar-fixed .rd-navbar-brand, .ipad .rd-navbar-fixed .rd-navbar-brand {
	padding-left: 14px;
}

.rd-navbar-fixed .rd-navbar-brand img {
	max-width: 160px;
	max-height: 58px;
	width: auto;
	height: auto;
}

.rd-navbar-fixed .rd-navbar-panel {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1080;
	display: flex;
	align-items: center;
	height: 56px;
	padding: 8px;
}

.rd-navbar-fixed .rd-navbar-nav-wrap {
	position: fixed;
	left: 0;
	top: -56px;
	bottom: -56px;
	z-index: 1079;
	width: 270px;
	padding: 112px 0 81px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	font-size: 14px;
	line-height: 34px;
	transform: translateX(-110%);
}

.rd-navbar-fixed .rd-navbar-nav-wrap::-webkit-scrollbar {
	width: 4px;
}

.rd-navbar-fixed .rd-navbar-nav-wrap::-webkit-scrollbar-thumb {
	background: #8db2fd;
	border: none;
	border-radius: 0;
	opacity: .2;
}

.rd-navbar-fixed .rd-navbar-nav-wrap::-webkit-scrollbar-track {
	background: #65cef5 ;
	border: none;
	border-radius: 0;
}

.rd-navbar-fixed .rd-navbar-nav-wrap.active {
	transform: translateX(0);
}

.rd-navbar-fixed .rd-navbar-nav {
	display: block;
	margin: 15px 0;
	height: auto;
	text-align: left;
}

.rd-navbar-fixed .rd-nav-item {
	text-align: left;
}

.rd-navbar-fixed .rd-nav-item + .rd-nav-item {
	margin-top: 4px;
}

.rd-navbar-fixed .rd-nav-link {
	display: block;
	padding: 14px 56px 14px 18px;
}

.rd-navbar-fixed li.opened > .rd-navbar-dropdown {
	padding: 4px 0 0;
}

.rd-navbar-fixed li.opened > .rd-navbar-megamenu {
	padding-top: 15px;
	padding-bottom: 15px;
}

.rd-navbar-fixed li.opened > .rd-menu {
	opacity: 1;
	height: auto;
}

.rd-navbar-fixed li.opened > .rd-navbar-submenu-toggle::after {
	transform: rotate(180deg);
}

.rd-navbar-fixed .rd-menu {
	display: none;
	transition: opacity 0.3s, height 0.4s ease;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.rd-navbar-fixed .rd-navbar-submenu {
	position: relative;
}

.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-dropdown .rd-navbar-submenu-toggle:after {
	height: 34px;
	line-height: 34px;
}

.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-dropdown > li > a {
	padding-left: 30px;
}

.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-dropdown li li > a,
.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-megamenu ul li li > a {
	padding-left: 46px;
}

.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-megamenu {
	display: block;
}

.rd-navbar-fixed .rd-megamenu-list > li > a,
.rd-navbar-fixed .rd-navbar-dropdown > li > a {
	display: block;
	padding: 9px 56px 9px 16px;
	font-size: 14px;
	line-height: 1.5;
}

.rd-navbar-fixed .rd-megamenu-list > li + li,
.rd-navbar-fixed .rd-navbar-dropdown > li + li {
	margin-top: 3px;
}

.rd-navbar-fixed .rd-megamenu-list > li > a {
	padding-left: 30px;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title {
	position: relative;
	display: block;
	padding: 0 18px 7px;
	font-size: 16px;
	line-height: 1.5;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title::after {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-bottom: 1px solid;
}

.rd-navbar-fixed .rd-navbar-megamenu * + .rd-megamenu-list {
	margin-top: 11px;
}

.rd-navbar-fixed .rd-navbar-megamenu * + .rd-megamenu-title {
	margin-top: 20px;
}

.rd-navbar-fixed .rd-navbar-megamenu > li + li {
	margin-top: 20px;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
	cursor: pointer;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle::after {
	content: '\f107';
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
	height: 48px;
	font: 400 14px "FontAwesome";
	line-height: 48px;
	text-align: center;
	transition: 0.4s all ease;
	z-index: 2;
	cursor: pointer;
}

.rd-navbar-fixed .rd-navbar-collapse-toggle {
	display: block;
	top: 8px;
	z-index: 1081;
}

.rd-navbar-fixed .rd-navbar-collapse-content {
	position: fixed;
	right: 0;
	top: 56px;
	z-index: 1079;
	transform: translate3d(0, -10px, 0);
	padding: 30px;
	width: auto;
	border-radius: 0 0 0 6px;
	text-align: left;
	font-size: 14px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.rd-navbar-fixed .rd-navbar-collapse-content.active {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-fixed .rd-navbar-collapse-content > * + * {
	margin-top: 25px;
}

.rd-navbar-fixed .rd-navbar-main-outer,
.rd-navbar-fixed .rd-navbar-main-element {
	position: absolute;
	float: left;
	width: 100%;
}

.rd-navbar-fixed .rd-navbar-search .rd-search {
	position: fixed;
	right: 0;
	left: 0;
	top: 56px;
	z-index: 1079;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	transform: translate3d(0, -100%, 0);
}

.rd-navbar-fixed .rd-navbar-search .rd-search-results-live {
	display: none;
}

.rd-navbar-fixed .rd-navbar-search .form-input {
	padding-right: 60px;
}

.rd-navbar-fixed .rd-navbar-search .rd-search-form-submit {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 7px;
	width: 50px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

.rd-navbar-fixed .rd-navbar-search.active .rd-search {
	opacity: 1;
	visibility: visible;
	transform: none;
}

.rd-navbar-fixed .rd-navbar-search-toggle {
	display: inline-flex;
}

.rd-navbar-fixed .rd-navbar-search-toggle span {
	display: inline-block;
	position: relative;
	width: 48px;
	height: 48px;
	font-size: 26px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

.rd-navbar-fixed .rd-navbar-search-toggle span, .rd-navbar-fixed .rd-navbar-search-toggle span::before, .rd-navbar-fixed .rd-navbar-search-toggle span::after {
	transition: .3s all ease-in-out;
}

.rd-navbar-fixed .rd-navbar-search-toggle span::before, .rd-navbar-fixed .rd-navbar-search-toggle span::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.rd-navbar-fixed .rd-navbar-search-toggle span::before {
	content: "";
	transform: rotate(0deg) scale(1);
	opacity: 1;
	visibility: visible;
	font-family: "Material Design Icons";
}

.rd-navbar-fixed .rd-navbar-search-toggle span::after {
	content: "";
	transform: rotate(-90deg) scale(0.4);
	opacity: 0;
	visibility: hidden;
	font-family: "Material Design Icons";
}

.rd-navbar-fixed .rd-navbar-search-toggle.active span::before {
	opacity: 0;
	visibility: hidden;
	transform: rotate(90deg) scale(0.4);
}

.rd-navbar-fixed .rd-navbar-search-toggle.active span::after {
	transform: rotate(0deg) scale(1);
	opacity: 1;
	visibility: visible;
}

.rd-navbar-fixed [class*='rd-navbar-fixed-element'] {
	position: fixed;
	top: 8px;
	z-index: 1082;
}

.rd-navbar-fixed .rd-navbar-fixed-element-1 {
	right: 0;
}

.rd-navbar-fixed .rd-navbar-fixed-element-2 {
	right: 46px;
}

.rd-navbar-fixed.rd-navbar--is-clone {
	display: none;
}

.rd-navbar-fixed .rd-navbar-fixed--visible {
	display: block;
}

.rd-navbar-fixed .rd-navbar-fixed--hidden {
	display: none;
}

.rd-navbar-fixed .rd-navbar-panel {
	color: #343a40;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
	background: #fff;
}

.rd-navbar-fixed .rd-navbar-nav-wrap {
	color: #fff;
	background: #fff;
	border-right: 1px solid #e8e9ee;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.rd-navbar-fixed .rd-nav-item:hover .rd-nav-link, .rd-navbar-fixed .rd-nav-item.focus .rd-nav-link, .rd-navbar-fixed .rd-nav-item.active .rd-nav-link, .rd-navbar-fixed .rd-nav-item.opened .rd-nav-link {
	color: #fff;
	background: #65cef5 ;
}

.rd-navbar-fixed .rd-nav-item:hover > .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-nav-item.focus > .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-nav-item.active > .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-nav-item.opened > .rd-navbar-submenu-toggle {
	color: #fff;
}

.rd-navbar-fixed .rd-nav-link {
	color: #343a40;
}

.rd-navbar-fixed .rd-megamenu-list > li > a,
.rd-navbar-fixed .rd-navbar-dropdown > li > a {
	color: #343a40;
}

.rd-navbar-fixed .rd-megamenu-list > li:hover > a,
.rd-navbar-fixed .rd-megamenu-list > li.focus > a,
.rd-navbar-fixed .rd-megamenu-list > li.active > a,
.rd-navbar-fixed .rd-megamenu-list > li.opened > a,
.rd-navbar-fixed .rd-navbar-dropdown > li:hover > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.focus > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.active > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.opened > a {
	color: #fff;
	background: #65cef5 ;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title {
	color: #aeb1be;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title::after {
	border-bottom: 1px solid #e8e9ee;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title a, .rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title a:focus, .rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title a:active {
	color: #fff;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title a:hover {
	color: #65cef5 ;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
	color: #343a40;
}

.rd-navbar-fixed .rd-navbar-search .rd-search-form-submit {
	color: #aeb1be;
}

.rd-navbar-fixed .rd-navbar-search .rd-search-form-submit:hover {
	color: #65cef5 ;
}

.rd-navbar-fixed .rd-navbar-search-toggle {
	color: #343a40;
}

.rd-navbar-fixed .rd-navbar-search-toggle:hover {
	color: #65cef5 ;
}

.rd-navbar-fixed .rd-navbar-collapse-content {
	background-color: #fff;
	box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);
}

.rd-navbar-fixed .banner {
	position: relative;
	overflow: hidden;
	padding: 20px;
	margin: 10px;
	border-radius: 6px;
	text-align: center;
}

.rd-navbar-fixed .banner::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(52, 58, 64, 0.4);
	border-radius: inherit;
}

html.rd-navbar-fixed-linked .page {
	padding-top: 56px;
}

.context-dark .rd-navbar-fixed .rd-navbar-panel, .bg-gray-700 .rd-navbar-fixed .rd-navbar-panel, .bg-gray-800 .rd-navbar-fixed .rd-navbar-panel, .bg-primary .rd-navbar-fixed .rd-navbar-panel, .bg-primary-darker .rd-navbar-fixed .rd-navbar-panel {
	background: #343a40;
}

.context-dark .rd-navbar-fixed .rd-navbar-nav-wrap, .bg-gray-700 .rd-navbar-fixed .rd-navbar-nav-wrap, .bg-gray-800 .rd-navbar-fixed .rd-navbar-nav-wrap, .bg-primary .rd-navbar-fixed .rd-navbar-nav-wrap, .bg-primary-darker .rd-navbar-fixed .rd-navbar-nav-wrap {
	border-right-color: #343a40;
	background: #2f353a;
}

.context-dark .rd-navbar-fixed .rd-nav-link, .bg-gray-700 .rd-navbar-fixed .rd-nav-link, .bg-gray-800 .rd-navbar-fixed .rd-nav-link, .bg-primary .rd-navbar-fixed .rd-nav-link, .bg-primary-darker .rd-navbar-fixed .rd-nav-link,
.context-dark .rd-navbar-fixed .rd-navbar-submenu-toggle,
.bg-gray-700 .rd-navbar-fixed .rd-navbar-submenu-toggle,
.bg-gray-800 .rd-navbar-fixed .rd-navbar-submenu-toggle,
.bg-primary .rd-navbar-fixed .rd-navbar-submenu-toggle,
.bg-primary-darker .rd-navbar-fixed .rd-navbar-submenu-toggle {
	color: #fff;
}

.context-dark .rd-navbar-fixed .rd-navbar-dropdown > li > a, .bg-gray-700 .rd-navbar-fixed .rd-navbar-dropdown > li > a, .bg-gray-800 .rd-navbar-fixed .rd-navbar-dropdown > li > a, .bg-primary .rd-navbar-fixed .rd-navbar-dropdown > li > a, .bg-primary-darker .rd-navbar-fixed .rd-navbar-dropdown > li > a,
.context-dark .rd-navbar-fixed .rd-megamenu-list-link,
.bg-gray-700 .rd-navbar-fixed .rd-megamenu-list-link,
.bg-gray-800 .rd-navbar-fixed .rd-megamenu-list-link,
.bg-primary .rd-navbar-fixed .rd-megamenu-list-link,
.bg-primary-darker .rd-navbar-fixed .rd-megamenu-list-link {
	color: #e8e9ee;
}

/*
*
* RD Navbar Sidebar
*/
.rd-navbar-sidebar {
	display: block;
	background: #fff;
}

.rd-navbar-sidebar .rd-navbar-main-outer {
	padding-left: 15px;
	padding-right: 15px;
}

.rd-navbar-sidebar .rd-navbar-main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 22px 60px 22px 0;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.rd-navbar-sidebar .rd-navbar-main-element {
	display: flex;
	align-items: center;
}

.rd-navbar-sidebar .rd-navbar-main-element > * + * {
	margin-left: 20px;
}

.rd-navbar-sidebar .rd-navbar-toggle {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	z-index: 1102;
}

.rd-navbar-sidebar .rd-navbar-panel {
	min-width: 200px;
	text-align: center;
}

.rd-navbar-sidebar .rd-navbar-brand img {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}

.rd-navbar-sidebar .rd-navbar-nav-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1101;
	width: 450px;
	padding: 94px 0 0 0;
	background: #fff;
	transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(100%);
	box-shadow: 0 0 13px 0 rgba(174, 177, 190, 0.16);
}

.rd-navbar-sidebar .rd-navbar-nav-wrap.active {
	transition-delay: .1s;
	transform: translateX(0);
}

.rd-navbar-sidebar .rd-navbar-nav {
	height: calc(100vh - 100px);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid #e8e9ee;
}

.rd-navbar-sidebar .rd-nav-item {
	position: relative;
	display: block;
	padding: 19px 30px 19px 40px;
}

.rd-navbar-sidebar .rd-nav-item.active .rd-nav-link {
	color: #65cef5 ;
}

.rd-navbar-sidebar .rd-nav-item .rd-nav-link,
.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle {
	font-size: 18px;
}

.rd-navbar-sidebar .rd-nav-item + .rd-nav-item {
	border-top: 1px solid #e8e9ee;
}

.rd-navbar-sidebar .rd-nav-item:last-child {
	border-bottom: 1px solid #e8e9ee;
	margin-bottom: 30px;
}

.rd-navbar-sidebar .rd-nav-link {
	max-width: calc(100% - 30px);
	word-break: break-all;
	font-size: 18px;
	line-height: 1.4;
	text-transform: none;
	color: #aeb1be;
}

.rd-navbar-sidebar .rd-nav-link:hover {
	color: #65cef5 ;
}

.rd-navbar-sidebar .rd-navbar-submenu .opened > .rd-navbar-submenu-toggle::after {
	transform: rotate(180deg);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-megamenu {
	display: none;
	opacity: 0;
	visibility: hidden;
	will-change: opacity, visibility;
	transition: opacity .2s;
}

.rd-navbar-sidebar .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu.opened > .rd-navbar-megamenu {
	display: block;
	opacity: 1;
	visibility: visible;
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu > .rd-navbar-megamenu {
	transform: translateY(30px);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu.opened > .rd-navbar-megamenu {
	transform: translateY(0);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu .rd-navbar-submenu > .rd-navbar-dropdown {
	transform: translateX(-20px);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu .rd-navbar-submenu.opened > .rd-navbar-dropdown {
	transform: translateX(0);
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle,
.rd-navbar-sidebar .rd-nav-item .rd-navbar--has-dropdown > .rd-navbar-submenu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: inherit;
	padding-right: inherit;
	padding-left: 10px;
	margin-bottom: inherit;
	display: inline-block;
	width: 30px;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	color: #343a40;
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle:hover,
.rd-navbar-sidebar .rd-nav-item .rd-navbar--has-dropdown > .rd-navbar-submenu-toggle:hover {
	color: #65cef5 ;
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle::after,
.rd-navbar-sidebar .rd-nav-item .rd-navbar--has-dropdown > .rd-navbar-submenu-toggle::after {
	content: '\f107';
	position: relative;
	display: inline-block;
	font-family: "FontAwesome";
	font-size: inherit;
	line-height: inherit;
	text-align: center;
	vertical-align: middle;
	transition: 0.4s all ease;
	z-index: 2;
	will-change: transform;
}

.rd-navbar-sidebar .rd-nav-item .rd-navbar--has-dropdown > .rd-navbar-submenu-toggle {
	font-size: 14px;
	color: #aeb1be;
	margin-left: 7px;
}

.rd-navbar-sidebar .rd-menu {
	margin-top: 31px;
}

.rd-navbar-sidebar .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-megamenu-list {
	font-size: 14px;
}

.rd-navbar-sidebar .rd-navbar-dropdown li > a,
.rd-navbar-sidebar .rd-megamenu-list li > a {
	position: relative;
	left: -13px;
	display: flex;
	padding: 4px 18px 4px 0;
	text-align: left;
}

.rd-navbar-sidebar .rd-navbar-dropdown li > a, .rd-navbar-sidebar .rd-navbar-dropdown li > a:focus, .rd-navbar-sidebar .rd-navbar-dropdown li > a:active,
.rd-navbar-sidebar .rd-megamenu-list li > a,
.rd-navbar-sidebar .rd-megamenu-list li > a:focus,
.rd-navbar-sidebar .rd-megamenu-list li > a:active {
	color: #aeb1be;
}

.rd-navbar-sidebar .rd-navbar-dropdown li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list li > a:hover {
	color: #fff;
}

.rd-navbar-sidebar .rd-navbar-dropdown li > a, .rd-navbar-sidebar .rd-navbar-dropdown li > a::before,
.rd-navbar-sidebar .rd-megamenu-list li > a,
.rd-navbar-sidebar .rd-megamenu-list li > a::before {
	transition: all .2s ease-in-out;
}

.rd-navbar-sidebar .rd-navbar-dropdown li > a::before,
.rd-navbar-sidebar .rd-megamenu-list li > a::before {
	position: relative;
	top: -1px;
	left: -6px;
	display: inline-block;
	content: '\f238';
	font-family: 'Material Design Icons';
	font-size: inherit;
	line-height: inherit;
	color: #fff;
	opacity: 0;
	visibility: hidden;
}

.rd-navbar-sidebar .rd-navbar-dropdown li.focus > a,
.rd-navbar-sidebar .rd-navbar-dropdown li.opened > a,
.rd-navbar-sidebar .rd-navbar-dropdown li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list li.focus > a,
.rd-navbar-sidebar .rd-megamenu-list li.opened > a,
.rd-navbar-sidebar .rd-megamenu-list li > a:hover {
	left: -13px;
	padding-left: 18px;
	padding-right: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown li.focus > a::before,
.rd-navbar-sidebar .rd-navbar-dropdown li.opened > a::before,
.rd-navbar-sidebar .rd-navbar-dropdown li > a:hover::before,
.rd-navbar-sidebar .rd-megamenu-list li.focus > a::before,
.rd-navbar-sidebar .rd-megamenu-list li.opened > a::before,
.rd-navbar-sidebar .rd-megamenu-list li > a:hover::before {
	left: -7px;
	opacity: 1;
	visibility: visible;
}

.rd-navbar-sidebar .rd-navbar-megamenu {
	max-width: 450px;
	margin-bottom: -30px;
}

.rd-navbar-sidebar .rd-navbar-megamenu > * {
	margin-bottom: 30px;
}

.rd-navbar-sidebar .rd-navbar-megamenu > li {
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

.rd-navbar-sidebar .rd-megamenu-title {
	display: none;
}

.rd-navbar-sidebar .rd-megamenu-list {
	margin-top: 0;
}

.rd-navbar-sidebar .rd-megamenu-list > li + li {
	margin-top: 10px;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a {
	padding-right: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a::before {
	display: none;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a:hover {
	padding-left: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.focus > a {
	padding-left: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > .rd-navbar-submenu-toggle {
	color: #65cef5 ;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > .rd-navbar-submenu-toggle::after {
	top: 1px;
}

.rd-navbar-sidebar .rd-navbar-dropdown > li + li {
	margin-top: 10px;
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-dropdown {
	margin-top: 25px;
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-dropdown .rd-navbar-dropdown {
	margin-top: 10px;
	padding-left: 15px;
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-dropdown .rd-navbar-dropdown > li > a {
	font-size: 12px;
}

@media (min-width: 1200px) {
	.rd-navbar-sidebar .rd-navbar-megamenu {
		margin-bottom: -30px;
	}
	.rd-navbar-sidebar .rd-navbar-megamenu > * {
		margin-bottom: 30px;
	}
	.rd-navbar-sidebar .rd-navbar-dropdown > li + li,
	.rd-navbar-sidebar .rd-megamenu-list > li + li {
		margin-top: 18px;
	}
}

@media (min-width: 1200px) {
	.rd-navbar-sidebar .rd-navbar-nav-wrap {
		width: auto;
		left: calc(50% + 600px - 80px);
	}
}

.rd-navbar-sidebar.rd-navbar--is-clone {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transform: translateY(-101%);
}

.rd-navbar-sidebar.rd-navbar--is-clone.rd-navbar--is-stuck {
	transform: translateY(0);
}

.rd-navbar-sidebar.rd-navbar--is-stuck {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.rd-navbar-sidebar.rd-navbar--is-stuck .rd-navbar-main {
	padding-top: 11px;
	padding-bottom: 11px;
}

/**
*
* RD Navbar Minimal
* 
*/
.rd-navbar-minimal.rd-navbar-static {
	border-bottom: 1px solid transparent;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-main-outer {
	padding-left: 15px;
	padding-right: 15px;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1170px;
	padding: 20px 0;
	margin-left: auto;
	margin-right: auto;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-main-element {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 690px;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-brand img {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-megamenu {
	margin-top: 24px;
	width: calc(100% + 27px + 15px);
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-search-toggle span {
	font-size: 20px;
}

@media (min-width: 1200px) {
	.rd-navbar-minimal.rd-navbar-static .rd-navbar-main {
		padding: 30px 0;
	}
	.rd-navbar-minimal.rd-navbar-static .rd-menu {
		margin-top: 34px;
	}
}

.rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-clone {
	border-bottom-color: #e8e9ee;
}

.rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-main, .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-clone .rd-navbar-main {
	padding: 20px 0;
}

.rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck .rd-menu, .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-clone .rd-menu {
	margin-top: 24px;
}

.rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav-item > .rd-navbar-submenu, .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav-item > .rd-navbar-submenu {
	margin-top: 17px;
}

.rd-navbar-minimal.rd-navbar-fixed .rd-navbar-search-toggle {
	position: fixed;
	right: 10px;
	top: 5px;
}

.rd-navbar-minimal.rd-navbar-fixed .rd-navbar-search .form-input {
	border-width: 1px 0 1px 0;
	border-radius: 0;
}

.rd-navbar-minimal-wide.rd-navbar-static .rd-navbar-main {
	padding: 54px 0;
}

.rd-navbar-minimal-wide.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-main {
	padding: 21px 0;
}

.context-dark .rd-navbar-minimal .rd-nav-link, .bg-gray-700 .rd-navbar-minimal .rd-nav-link, .bg-gray-800 .rd-navbar-minimal .rd-nav-link, .bg-primary .rd-navbar-minimal .rd-nav-link, .bg-primary-darker .rd-navbar-minimal .rd-nav-link,
.context-dark .rd-navbar-minimal .rd-navbar-submenu-toggle,
.bg-gray-700 .rd-navbar-minimal .rd-navbar-submenu-toggle,
.bg-gray-800 .rd-navbar-minimal .rd-navbar-submenu-toggle,
.bg-primary .rd-navbar-minimal .rd-navbar-submenu-toggle,
.bg-primary-darker .rd-navbar-minimal .rd-navbar-submenu-toggle,
.context-dark .rd-navbar-minimal .rd-navbar-search-toggle,
.bg-gray-700 .rd-navbar-minimal .rd-navbar-search-toggle,
.bg-gray-800 .rd-navbar-minimal .rd-navbar-search-toggle,
.bg-primary .rd-navbar-minimal .rd-navbar-search-toggle,
.bg-primary-darker .rd-navbar-minimal .rd-navbar-search-toggle {
	color: #fff;
}

.context-dark .rd-navbar-minimal.rd-navbar-static, .bg-gray-700 .rd-navbar-minimal.rd-navbar-static, .bg-gray-800 .rd-navbar-minimal.rd-navbar-static, .bg-primary .rd-navbar-minimal.rd-navbar-static, .bg-primary-darker .rd-navbar-minimal.rd-navbar-static {
	background-color: transparent;
}

.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-nav-link, .bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-nav-link, .bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-nav-link, .bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-nav-link, .bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-nav-link,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-navbar-submenu-toggle,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-navbar-submenu-toggle,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-navbar-submenu-toggle,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-navbar-submenu-toggle,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-item.opened .rd-navbar-submenu-toggle,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-navbar-submenu-toggle,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-navbar-submenu-toggle,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-navbar-submenu-toggle,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-navbar-submenu-toggle,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-item.focus .rd-navbar-submenu-toggle,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-navbar-submenu-toggle,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-navbar-submenu-toggle,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-navbar-submenu-toggle,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-navbar-submenu-toggle,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-item.active .rd-navbar-submenu-toggle,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover ~ .rd-navbar-submenu-toggle,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover ~ .rd-navbar-submenu-toggle,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover ~ .rd-navbar-submenu-toggle,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover ~ .rd-navbar-submenu-toggle,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-nav-link:hover ~ .rd-navbar-submenu-toggle,
.context-dark .rd-navbar-minimal.rd-navbar-static .rd-navbar-search-toggle:hover,
.bg-gray-700 .rd-navbar-minimal.rd-navbar-static .rd-navbar-search-toggle:hover,
.bg-gray-800 .rd-navbar-minimal.rd-navbar-static .rd-navbar-search-toggle:hover,
.bg-primary .rd-navbar-minimal.rd-navbar-static .rd-navbar-search-toggle:hover,
.bg-primary-darker .rd-navbar-minimal.rd-navbar-static .rd-navbar-search-toggle:hover {
	color: #8db2fd;
}

.context-dark .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck, .bg-gray-700 .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck, .bg-gray-800 .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck, .bg-primary .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck, .bg-primary-darker .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck {
	background: #343a40;
	border-bottom-color: #151515;
}

/**
*
* RD Navbar Corporate
* 
*/
.rd-navbar-corporate.rd-navbar-static {
	border-bottom: 1px solid transparent;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-aside-outer,
.rd-navbar-corporate.rd-navbar-static .rd-navbar-main-outer {
	padding-left: 15px;
	padding-right: 15px;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-aside,
.rd-navbar-corporate.rd-navbar-static .rd-navbar-main {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-aside {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 40px;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-brand img {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-main-outer {
	background: #f5f6fa;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-main {
	position: relative;
	padding: 16px 0;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-nav-wrap {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	min-width: 690px;
}

.ie-10 .rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse,
.ie-11 .rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse {
	width: 100%;
	max-width: 870px;
}

.ie-10 .rd-navbar-corporate.rd-navbar-static .unit,
.ie-11 .rd-navbar-corporate.rd-navbar-static .unit {
	flex: auto;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-panel + .rd-navbar-collapse {
	margin-left: 50px;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse-content .button {
	flex-shrink: 0;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse-content > * {
	margin-top: 0;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse-content > * + * {
	margin-left: 50px;
}

.rd-navbar-corporate.rd-navbar-static .rd-menu {
	margin-top: 21px;
}

.rd-navbar-corporate.rd-navbar-static .rd-navbar-megamenu {
	margin-top: 24px;
	max-width: 750px;
}

@media (min-width: 1200px) {
	.rd-navbar-corporate.rd-navbar-static .rd-navbar-collapse-content > * + * {
		margin-left: 92px;
	}
	.rd-navbar-corporate.rd-navbar-static .rd-nav-item + .rd-nav-item {
		margin-left: 55px;
	}
}

.rd-navbar-corporate.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-corporate.rd-navbar-static.rd-navbar--is-clone {
	border-bottom-color: #e8e9ee;
}

.rd-navbar-corporate.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-aside-outer, .rd-navbar-corporate.rd-navbar-static.rd-navbar--is-clone .rd-navbar-aside-outer {
	display: none;
}

.rd-navbar-corporate.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav-item > .rd-navbar-submenu, .rd-navbar-corporate.rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav-item > .rd-navbar-submenu {
	margin-top: 17px;
}

.rd-navbar-corporate.rd-navbar-fixed .rd-navbar-search {
	margin: 20px 5px;
}

.rd-navbar-corporate.rd-navbar-fixed .rd-navbar-search-toggle {
	display: none;
}

.rd-navbar-corporate.rd-navbar-fixed .rd-search {
	position: relative;
	top: 0;
	left: 0;
	transform: none;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.rd-navbar-corporate.rd-navbar-fixed .rd-navbar-nav {
	margin: 0;
}

/**
*
* RD Navbar Thin
* 
*/
.rd-navbar-thin.rd-navbar-static {
	background-color: #343a40;
	border-bottom: 1px solid transparent;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-main-outer {
	padding-left: 15px;
	padding-right: 15px;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1170px;
	padding: 23px 0;
	margin-left: auto;
	margin-right: auto;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-nav-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 200px;
	right: 80px;
	z-index: 102;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 690px;
	background: #343a40;
	opacity: 0;
	visibility: hidden;
	transition: .44s ease-in-out;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-nav-wrap .rd-navbar-brand {
	display: none;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-nav-wrap.active {
	opacity: 1;
	visibility: visible;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: 50px;
}

.ie-10 .rd-navbar-thin.rd-navbar-static .rd-navbar-panel,
.ie-11 .rd-navbar-thin.rd-navbar-static .rd-navbar-panel {
	justify-content: flex-start;
}

.ie-10 .rd-navbar-thin.rd-navbar-static .rd-navbar-block,
.ie-11 .rd-navbar-thin.rd-navbar-static .rd-navbar-block {
	width: 100%;
	justify-content: flex-end;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-toggle {
	position: absolute;
	right: 0;
	top: 50%;
	display: block;
	transform: translate3d(0, -50%, 0);
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-block {
	display: flex;
	align-items: center;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-brand {
	max-width: 300px;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-brand img {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}

.rd-navbar-thin.rd-navbar-static .rd-nav-link,
.rd-navbar-thin.rd-navbar-static .rd-navbar-submenu-toggle,
.rd-navbar-thin.rd-navbar-static .rd-navbar-search-toggle {
	color: #fff;
}

.rd-navbar-thin.rd-navbar-static .rd-nav-item.opened .rd-nav-link,
.rd-navbar-thin.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.rd-navbar-thin.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.rd-navbar-thin.rd-navbar-static .rd-nav-item.opened .rd-navbar-submenu-toggle,
.rd-navbar-thin.rd-navbar-static .rd-nav-item.focus .rd-navbar-submenu-toggle,
.rd-navbar-thin.rd-navbar-static .rd-nav-item.active .rd-navbar-submenu-toggle,
.rd-navbar-thin.rd-navbar-static .rd-nav-link:hover,
.rd-navbar-thin.rd-navbar-static .rd-nav-link:hover ~ .rd-navbar-submenu-toggle,
.rd-navbar-thin.rd-navbar-static .rd-navbar-search-toggle:hover {
	color: #8db2fd;
}

.rd-navbar-thin.rd-navbar-static .rd-menu {
	margin-top: 27px;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-megamenu {
	margin-top: 24px;
	width: calc(100% + 27px + 15px);
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-search {
	position: static;
}

.rd-navbar-thin.rd-navbar-static * + .rd-navbar-search-toggle {
	margin-left: 60px;
}

.rd-navbar-thin.rd-navbar-static .rd-search {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	width: calc(100% - 70px);
	margin: 0;
}

.rd-navbar-thin.rd-navbar-static .rd-search .form-wrap {
	display: flex;
	width: 100%;
	background: #343a40;
}

.rd-navbar-thin.rd-navbar-static .rd-search .form-wrap::before {
	content: '\f43b';
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	font-family: 'Material Design Icons';
	font-size: 30px;
	line-height: 1;
	color: #fff;
}

.rd-navbar-thin.rd-navbar-static .rd-search .form-input,
.rd-navbar-thin.rd-navbar-static .rd-search .form-label {
	padding-left: 40px;
	font-size: 30px;
	color: #fff;
}

.rd-navbar-thin.rd-navbar-static .rd-search .form-input {
	background-color: transparent;
	border: 0;
	border-radius: 0;
}

.rd-navbar-thin.rd-navbar-static .rd-search .form-label {
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

.rd-navbar-thin.rd-navbar-static .rd-search-results-live {
	height: 100vh;
	margin: 1px 0 0 0;
}

.rd-navbar-thin.rd-navbar-static .search-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -20px;
}

.rd-navbar-thin.rd-navbar-static .search-list-item {
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.rd-navbar-thin.rd-navbar-static .search-list-item + .search-list-item {
	margin-top: 0;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-search-toggle {
	position: relative;
	z-index: 12;
}

.rd-navbar-thin.rd-navbar-static .rd-navbar-popup {
	left: 50%;
	z-index: 110;
	transform: translateX(-50%);
	margin-top: 30px;
}

.rd-navbar-thin.rd-navbar-static .list-inline-bordered {
	position: relative;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.rd-navbar-thin.rd-navbar-static .rd-nav-item + .rd-nav-item {
		margin-left: 30px;
	}
}

@media (min-width: 1200px) {
	.rd-navbar-thin.rd-navbar-static .rd-navbar-panel {
		padding-right: 70px;
	}
	.rd-navbar-thin.rd-navbar-static .rd-navbar-nav-wrap {
		left: 300px;
		right: 70px;
	}
}

@media (min-width: 1600px) {
	.rd-navbar-thin.rd-navbar-static .rd-navbar-popup {
		right: auto;
	}
}

.rd-navbar-thin.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-thin.rd-navbar-static.rd-navbar--is-clone {
	border-bottom-color: #151515;
}

.rd-navbar-thin.rd-navbar-static.rd-navbar--is-stuck .rd-menu, .rd-navbar-thin.rd-navbar-static.rd-navbar--is-clone .rd-menu {
	margin-top: 27px;
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-search .form-input {
	border-width: 0 0 1px 0;
	border-radius: 0;
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-search-toggle {
	position: fixed;
	top: 5px;
	right: 8px;
	color: #fff;
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-search-toggle span {
	font-size: 20px;
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-block {
	position: absolute;
	top: 14px;
	right: 65px;
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-popup {
	position: fixed;
	right: 5px;
	margin-top: 20px;
	overflow-y: auto;
	max-height: calc(100vh - 56px - 10px);
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-brand {
	display: none;
}

.rd-navbar-thin.rd-navbar-fixed .rd-navbar-nav-wrap .rd-navbar-brand {
	display: inline-block;
	line-height: 0;
	font-size: 0;
	margin: 30px 20px 20px;
}

@media (min-width: 480px) {
	.rd-navbar-thin.rd-navbar-fixed .rd-navbar-brand {
		display: block;
	}
	.rd-navbar-thin.rd-navbar-fixed .rd-navbar-nav-wrap .rd-navbar-brand {
		display: none;
	}
}


